@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav-buttons{
    margin-left: 55%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 200px;
    height: 75px;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
}

h6{
    color: #D8D8D8;
}

button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 20px;
}

button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.navbar{
    font-size: 16px;
    font-weight: bolder;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px gray;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
    color: grey;
}


.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: -0.4s ease;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width: 990px){
    .nav-buttons{
        margin: 10px;
    }
    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        text-align: left;
    }
    .nav-buttons ul .fa {
        margin: 20px 5px 10px 20px;
    }
}

    .nav-item a i{
        color: black;
    }

    #home{
        background-image: url(https://product.hstatic.net/1000306633/product/hd_t6.2485_7abdd0b75b58448a8840cfcbdce3fa97.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: flex;
        background-position-x: 300px;
        background-position-y: 1400px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

#home span{
    color: red;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

#new .one {
    position: relative;
}

#new .one .details{
    position: absolute;
    color: black;
    font-weight: bold;
    transition: 0.4s ease;
    background-color: white;
    margin-left: 9rem;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
    transform: scale(1.1);
    transition: 0.3s all;
}

.product .buy-btn{
    background-color: black;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
    color: #fff;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

hr{
    width: 60px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: black;
}

#banner {
    background-image: url(https://product.hstatic.net/1000306633/product/sweater_wolf_pink_full_b2147467c54f4f20928a625b596af1da.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    background-position-x: 300px;
    background-position-y: 1600px;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1{
    color: red;
}

#banner button{
    background-color: black;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.single-product input:focus{
    outline: none;
}

.single-product .buy-btn{
    background-color: black;
    opacity: 1;
    transition: 0.4s all;
}

.single-product .buy-btn:hover{
    background-color: black;
    
}

footer{
    background-color: #222222;
}

footer h5{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}

footer li a:hover{
    color: gray;
}

footer .copyright a{
    color: black;
    height: 40px;
    width: 40px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color: white;
    background-color: gray;
}

footer p{
    color: white;
}

footer .copyright img{
    height: 10%;
    width: 60%;
}

/* Cart */

.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #000;
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td input{
    width: 50px;
    height: 30px;
    padding: 5px;
}

.cart td a{
    color: #000;
}

.cart .remove-btn{
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: black;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.cart-total-css{
    font-size: 32px;
    font-weight: bold;
}

    medium{
        font-weight: bold;
    }

.cart .remove-btn:hover{
    color: white;
    background-color: black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.cart .edit-btn{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    border: none;
    transition: 0.4s ease-in-out;
}

.cart .edit-btn:hover{
    color: white;
    background-color: black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.cart .product-info p{
    margin: 3px;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 30px;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #000;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}

.checkout-btn{
    background-color: #000;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.checkout-btn:hover{
    color: white;
    background-color: black;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

/* Login */

#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000;
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: #000;
    color: #fff;
}

#login-form #register-url{
    color: #000;
}

/* Register */
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000;
}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: #000;
    color: #fff;
    transition: 0.4s ease-in-out;
}

#register-form #register-btn:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#register-form #login-url{
    color: #000;
}

/* Account */

#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin: 5px auto;
}

#account-form #change-pass-btn{
    color: #fff;
    background-color: #000;
    transition: 0.3s ease-in-out;
}

#account-form #change-pass-btn:hover{
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#logout-btn{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

#logout-btn:hover{
    color: gray;
}

#orders-btn{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#orders-btn:hover{
    color: gray;
}

/* Orders */

.orders table{
    width: 100%;
    border-collapse: collapse;
}

.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}

.product-info p{
    font-weight: bold;
    font-size: 18px;
}

.product-price{
    font-weight: bold;
    font-size: 20px;
}

.p-name{
    font-weight: bold;
}

.orders th{
    padding: 5px 10px;
    color: white;
    background-color: black;
    /* text-align: left; */
}

.orders th:nth-child(2){
    /* text-align: right; */
}

.orders td{
    padding: 10px 20px;
}

.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.orders .order-details-btn{
    color: #fff;
    background-color: #000;
}

/* Check out */

#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element{
    width: 95%;
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn{
    color: white;
    background-color: black;
}

/* Contact */
#contact span{
    color: #000;
    
}

.cart-quantity{
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
    margin: -5px;
    font-size: irem;
}
